.container.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  background: #355c7d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}
.container.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;
}
.container.slideshow .arrow {
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;
}
.container.slideshow .arrow:hover {
  cursor: pointer;
  opacity: 1;
}
.container.slideshow .arrow-left {
  left: 2%;
}
.container .arrow-right {
  right: 2%;
}
.container.slideshow .dots {
  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  z-index: 5;
}
.container.slideshow .dots .dot {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  color: cornsilk;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}